{cover_enabled, true}.
{erl_opts, [
  debug_info
  %fail_on_warning
]}.

{deps, [
  {lager, "2.0.*", {git, "https://github.com/basho/lager.git", "b6b6cebcb27ccff8acc59ae775acebc2f52e4926"}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "1e95a84b0ce8d5a86e3431e2095f245272c88662"}}
]}.
